.gitignore
.token
*.zip
**/*.map
**/*.ts
**/*LICENSE.txt
eslint.config.mjs
tsconfig.json
tsconfig.test.json
vsc-extension-quickstart.md
webpack.config.js

# Directories
.vscode
bin
media/vscodeignore
node_modules
out
src
test
